{% extends "./partials/_base.twig" %}

{% set options = {
  context: 'default',

  title: ['ARRIVING FOR THE', 'FIRST TIME'],
  image: './media/intro__image--arriving.png',
  webp: './media/intro__image--arriving.webp',
  size: 152,
  stroke: 40,
  top: -37,
  left: -70,
  width: 181,
  height: 150,
  start: 210,
  end: 330,
} %}

{% block page %}

  <div class="app__page app__page--default default">

    {% include './partials/intro.twig' with options %}

    <main class="default__content">

      {% include './partials/header.twig' with { modifier: 'black', context: 'content' } %}

      <section class="default__section default__section--wysiwyg">
        <div class="default__container default__container--wysiwyg container">
          <div class="default__wysiwyg _wysiwyg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodifier tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodifiero consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p>&nbsp;</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodifier tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodifiero consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </section>

    </main>

  </div>

{% endblock %}
