{% extends "./partials/_base.twig" %}

{% set options = {
  context: 'default',

  title: ['FITNESS', 'TRAINING'],
  image: './media/intro__image--arriving.png',
  webp: './media/intro__image--arriving.webp',
  size: 152,
  stroke: 40,
  top: -37,
  left: -70,
  width: 181,
  height: 150,
  start: 210,
  end: 330,
} %}

{% block page %}

  <div class="app__page app__page--default default">

    {% include './partials/intro.twig' with options %}

    <main class="default__content">

      {% include './partials/header.twig' with { modifier: 'black', context: 'content' } %}

      <section class="default__section default__section--wysiwyg">
        <div class="default__container default__container--wysiwyg container">
          <div class="default__wysiwyg _wysiwyg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodifier tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodifiero consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </section>

      <section class="default__section default__section--quick-nav">
        <div class="default__container default__container--quick-nav container">
          <div class="default__quick-nav quick-nav">
            <div class="quick-nav__list">
              <div class="quick-nav__item underlink">BOOK FITNESS TRAININGS</div>
            </div>
          </div>
        </div>
      </section>

      <section class="default__section default__section--display">
        <div class="default__container container container--l">
          <div class="default__display display">
            <div class="display__blocks">
              <div class="display__media display__media--1 media">
                <picture>
                  <source media="(max-width: 375px)" srcset="./media/safety--2.png">
                  <source srcset="./media/safety--2.png" type="image/png">
                  <source srcset="./media/safety--2.webp" type="image/webp">
                  <img alt="" class="media__image media__image--display" loading="lazy" src="./media/safety--2.png" title=""/>
                </picture>
              </div>
              <div class="display__media display__media--2 media">
                <picture>
                  <source media="(max-width: 375px)" srcset="./media/safety--1.png">
                  <source srcset="./media/safety--1.png" type="image/png">
                  <source srcset="./media/safety--1.webp" type="image/webp">
                  <img alt="" class="media__image media__image--display" loading="lazy" src="./media/safety--1.png" title=""/>
                </picture>
              </div>
              <div class="display__media display__media--3 media">
                <picture>
                  <source media="(max-width: 375px)" srcset="./media/safety--3.png">
                  <source srcset="./media/safety--3.png" type="image/png">
                  <source srcset="./media/safety--3.webp" type="image/webp">
                  <img alt="" class="media__image media__image--display" loading="lazy" src="./media/safety--3.png" title=""/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="default__section default__section--wysiwyg">
        <div class="default__container default__container--wysiwyg container">
          <div class="default__wysiwyg _wysiwyg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodifier tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodifiero consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </section>

    </main>

  </div>

{% endblock %}
