{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__page app__page--home home">

    <section class="home__hero hero" data-parallax>

      {% include './partials/header.twig' with { modifier: 'white', context: 'hero' } %}

      <div class="hero__background media">
        <picture>
          <source media="(max-width: 375px)" srcset="./media/hero__media.png">
          <source srcset="./media/hero__media.webp" type="image/webp">
          <img alt="" class="media__image media__image--cover media__image--hero" loading="lazy" src="./media/hero__media.png" title=""/>
        </picture>
      </div>

      <div class="hero__wrapper">

        {% include './partials/scene.twig' with {options: {
            context: 'hero',
            modifier: 'home',
            title: ['HAVING NO WINGS', 'IS JUST A LITTLE DETAIL'],
            image: './media/intro__image--safety.png',
            webp: './media/intro__image--safety.webp',
            size: 352,
            stroke: 0,
            top: -28,
            left: -7,
            width: 135,
            height: 134,
          }
        } %}

        <div class="hero__play play" data-modal-trigger="video">
          <i class="play__icon">{% include '../svg/play.svg.twig' %}</i>
          <span class="play__label" data-heading="watch">PLAY VIDEO</span>
        </div>

        <div class="hero__scrollto scrollto" data-scrollto=".tiles">
          <div class="scrollto__label">I’M READY TO JUMP</div>
          <i class="scrollto__icon">{% include '../svg/scrollto__icon.svg.twig' %}</i>
        </div>

      </div>

    </section>

    <section class="home__tiles tiles">

      {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}

      <i class="tiles__frame"></i>

      <div class="tiles__blocks">

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-above',
                title: ['ARRIVING FOR THE', 'FIRST TIME'],
                image: './media/tile__media--arriving.png',
                webp: './media/tile__media--arriving.webp',
                stroke: 0,
                top: -90,
                left: 1,
                width: 75,
                height: 293
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-above',
                title: ['SAFETY'],
                image: './media/tile__media--safety.png',
                webp: './media/tile__media--safety.webp',
                stroke: 0,
                top: -58,
                left: -7,
                width: 157,
                height: 197
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-above',
                title: ['ROOMS'],
                image: './media/tile__media--rooms.png',
                webp: './media/tile__media--rooms.webp',
                stroke: 0,
                top: -61,
                left: -88,
                width: 235,
                height: 184
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-above',
                title: ['CRAFT PIZZA'],
                image: './media/tile__media--pizza.png',
                webp: './media/tile__media--pizza.webp',
                stroke: 0,
                top: -68,
                left: 13,
                width: 75,
                height: 236
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-bellow',
                title: ['PRIVATE', 'LESSONS'],
                image: './media/tile__media--lessons.png',
                webp: './media/tile__media--lessons.webp',
                stroke: 0,
                top: -87,
                left: -57,
                width: 174,
                height: 279
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

        <div class="tiles__block">
          {% include './partials/header.twig' with { modifier: 'black', context: 'tiles' } %}
          <div class="tiles__content">
            {% include './partials/scene.twig' with {options: {
                context: 'tiles',
                modifier: 'image-bellow',
                title: ['FITNESS', 'TRAININGS'],
                image: './media/tile__media--fitness.png',
                webp: './media/tile__media--fitness.webp',
                stroke: 0,
                top: -23,
                left: -55,
                width: 215,
                height: 177
              }
            } %}
          </div>
          <a class="tiles__trigger" href=""></a>
        </div>

      </div>

    </section>

  </div>

{% endblock %}
