{% extends "./partials/_base.twig" %}

{% set options = {
  context: 'room',
  title: ['PRICE LIST'],
  image: './media/intro__image--privacy.png',
  webp: './media/intro__image--privacy.webp',
  size: 154,
  stroke: 32,
  top: -59,
  left: -47,
  width: 180,
  height: 209,
} %}

{% block page %}

  <div class="app__page app__page--room room">

    <div class="room__gallery gallery" data-slider="gallery">

      {% include './partials/header.twig' with { modifier: 'white', context: 'room' } %}

      <div class="gallery__slider swiper-container" data-slider-target>
        <div class="gallery__wrapper swiper-wrapper">
          <div class="gallery__slide swiper-slide">
            <div class="gallery__media media">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/gallery__slide.png">
                <source srcset="./media/gallery__slide.webp" type="image/webp">
                <img alt="" class="media__image media__image--gallery" loading="lazy" src="./media/gallery__slide.png" title=""/>
              </picture>
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__media media">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/safety--1.png">
                <source srcset="./media/safety--1.webp" type="image/webp">
                <img alt="" class="media__image media__image--gallery" loading="lazy" src="./media/safety--1.png" title=""/>
              </picture>
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__media media">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/safety--2.png">
                <source srcset="./media/safety--2.webp" type="image/webp">
                <img alt="" class="media__image media__image--gallery" loading="lazy" src="./media/safety--2.png" title=""/>
              </picture>
            </div>
          </div>
        </div>
        <div class="gallery__bullets" data-slider-pagination></div>
      </div>

    </div>

    <div class="room__wrapper">

      {% include './partials/header.twig' with { modifier: 'black', context: 'room' } %}

      <main class="room__content">

        <div class="room__title">
          <h1 data-heading="watch">PASAKA</h1>
        </div>

        <div class="room__text">
          <p>Hind 2,5 tunniks:<br>
            <b>E-N 60 € / R-P 85 €</b>
          </p>
          <p>Į kainą įskaičiuota:</p>
          <ul>
            <li>15 šokinėjimo apyrankių (už kiekvieną papildomą šokinėjantį asmenį reikia sumokėti pusė dienos bilieto kainos)</li>
            <li>15 vienkartinių indų/įrankių/stiklinių</li>
          </ul>
          <p>Šventės trukmė:<br>
            <b>2.5 val.</b>
          </p>
        </div>
      </div>

    </main>

  </div>
{% endblock %}
