{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__page app__page--selection selection">

    {% include './partials/header.twig' with { modifier: 'white', context: 'selection' } %}

    <div class="selection__blocks">

      <div class="selection__block">
        <div class="selection__media media">
          <picture>
            <source media="(max-width: 375px)" srcset="./media/selection__media.png">
            <source srcset="./media/selection__media.png" type="image/png">
            <source srcset="./media/selection__media.webp" type="image/webp">
            <img alt="" class="media__image media__image--display" loading="lazy" src="./media/selection__media.png" title=""/>
          </picture>
        </div>

        <div class="selection__visual">
          {% include './partials/scene.twig' with {options: {
              context: 'selection',
              title: ['PASAKA'],
              image: './media/selection--1.png',
              webp: './media/selection--1.webp',
              size: 264,
              stroke: 50,
              top: -9,
              left: -6,
              width: 119,
              height: 118,
              start: 210,
              end: 270
            }
          } %}
        </div>
        <a class="selection__trigger" href="home"></a>
      </div>

      <div class="selection__block">
        <div class="selection__media media">
          <picture>
            <source media="(max-width: 375px)" srcset="./media/selection__media.png">
            <source srcset="./media/selection__media.png" type="image/png">
            <source srcset="./media/selection__media.webp" type="image/webp">
            <img alt="" class="media__image media__image--display" loading="lazy" src="./media/selection__media.png" title=""/>
          </picture>
        </div>

        <div class="selection__visual">
          {% include './partials/scene.twig' with {options: {
              context: 'selection',
              title: ['JŪRA'],
              image: './media/selection--2.png',
              webp: './media/selection--2.webp',
              size: 264,
              stroke: 50,
              top: -13,
              left: 5,
              width: 133,
              height: 113,
            }
          } %}
        </div>
        <a class="selection__trigger" href="home"></a>
      </div>

      <div class="selection__block">
        <div class="selection__media media">
          <picture>
            <source media="(max-width: 375px)" srcset="./media/selection__media.png">
            <source srcset="./media/selection__media.png" type="image/png">
            <source srcset="./media/selection__media.webp" type="image/webp">
            <img alt="" class="media__image media__image--display" loading="lazy" src="./media/selection__media.png" title=""/>
          </picture>
        </div>

        <div class="selection__visual">
          {% include './partials/scene.twig' with {options: {
              context: 'selection',
              title: ['PASAKA'],
              image: './media/selection--1.png',
              webp: './media/selection--1.webp',
              size: 264,
              stroke: 50,
              top: -9,
              left: -6,
              width: 119,
              height: 118,
              start: 210,
              end: 270
            }
          } %}
        </div>
        <a class="selection__trigger" href="home"></a>
      </div>

      <div class="selection__block">
        <div class="selection__media media">
          <picture>
            <source media="(max-width: 375px)" srcset="./media/selection__media.png">
            <source srcset="./media/selection__media.png" type="image/png">
            <source srcset="./media/selection__media.webp" type="image/webp">
            <img alt="" class="media__image media__image--display" loading="lazy" src="./media/selection__media.png" title=""/>
          </picture>
        </div>

        <div class="selection__visual">
          {% include './partials/scene.twig' with {options: {
            context: 'selection',
            title: ['JŪRA'],
            image: './media/selection--2.png',
            webp: './media/selection--2.webp',
            size: 264,
            stroke: 50,
            top: -13,
            left: 5,
            width: 133,
            height: 113,
          }
        } %}
        </div>
        <a class="selection__trigger" href="home"></a>
      </div>

    </div>

  </div>

{% endblock %}
