.details {
  line-height: 1.29;
  letter-spacing: 0.1em;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    position: relative;
    padding: 4rem 1.8rem 0.1rem;
    background-color: #f5f5f5;

    @include tablet {
      width: 50%;
      padding: 6rem 6.8%;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: #fdc805;
      height: 3px;
      width: 5rem;
      right: calc(50% - 2.5rem);
      bottom: -1px;

      @include tablet {
        width: 3px;
        height: 5rem;
        bottom: calc(50% - 2.5rem);
        right: -1px;
      }
    }

    &:nth-child(2n + 2) {
      background-color: #efefef;

      @include tablet {
        background-color: #f5f5f5;

        &:before {
          display: none;
        }
      }
    }

    &:nth-child(4n + 2) {
      @include tablet {
        background-color: #efefef;
      }
    }

    &:nth-child(4n + 3) {
      @include tablet {
        background-color: #efefef;
      }
    }
  }

  &__heading {
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__text {
    @include tablet {
      padding: 1.9rem 0;
    }

    ul {
      margin: 1.5em 0;

      li {
        position: relative;
        padding: 1.1rem 0 1.1rem 2.1rem;

        &:before {
          content: '';
          position: absolute;
          top: 1.5rem;
          left: 0rem;
          border-radius: 50%;
          border: 2px solid #fdc805;
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    p {
      margin: 1.3em 0;
    }
  }
}
