.display {
  &__blocks {
    padding: 0 0 2.1rem;

    @include tablet {
      padding: 0 0 1.9rem;
    }

    @include clearfix;
  }

  &__media {
    display: block;
    margin: 3rem 0;

    @include tablet {
      float: left;
      margin: 4.3% 4.7% 4.3% 0;
    }

    &--1 {
      @include tablet {
        width: 44%;
        margin-top: 23.4%;
        padding-top: 42%;
      }
    }

    &--2 {
      @include tablet {
        width: 49%;
        margin-right: 0;
        padding-top: 33.8%;
      }
    }

    &--3 {
      @include tablet {
        width: 30.4%;
        padding-top: 29%;
      }
    }
  }
}
