.expand {
  &__title {
    font-weight: 600;
  }

  &__icon {
    border: 0.1rem solid #e5e5e5;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    position: absolute;
    right: 0rem;
    transition: border-color 220ms var(--e);
    top: calc(50% - 1.2rem);
    
    @include tablet {
      top: 1.8rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
      transform: rotate(-36deg) skewX(24deg);
      border-left: solid 2px #bbb;
      border-bottom: solid 2px #bbb;
      width: 0.6rem;
      height: 0.6rem;
      transition: border-color 220ms var(--e), transform 220ms var(--e);
    }
  }

  &__item {
    &.is-active {
      .expand {
        &__icon {
          &:before {
            transform: rotate(-216deg) skewX(24deg) translate3d(0.1rem, -0.1rem, 0);
          }
        }
      }
    }
  }

  &__trigger {
    padding: 2rem 0 1.5rem;
    padding-right: 3.6rem;
    position: relative;
    cursor: pointer;

    @include hover {
      .expand {
        &__icon {
          border-color: #bbb;

          &:before {
            border-color: #212121;
          }
        }
      }
    }
  }

  &__content {
    border-top: solid 1px #e5e5e5;
    color: rgb(156, 156, 156);
    padding-bottom: 0;
    display: none;

    p {
      margin: 1.4em 0 1.1em;
    }
  }
}
