.gallery {
  &__slider {
    @include absolute;
  }

  &__media {
    @include absolute;
    width: 100%;
    height: 100%;
  }

  &__bullets {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
  }
}
