.hero {
  width: 100%;
  overflow: hidden;

  &__background {
    @include absolute;
    z-index: 1;
  }

  &__wrapper {
    @include flex;
    height: inherit;
    min-height: inherit;
    position: relative;
    z-index: 2;
    padding-bottom: 10vh;
  }

  &__scene {
    &--home {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__play {
    bottom: 36vh;
    z-index: 5;
  }

  &__scrollto {
    position: absolute;
    left: 50%;
    z-index: 5;
    bottom: 3.2rem;

    @include tablet {
      bottom: 4.2rem;
    }
  }
}
