.player {
  position: relative;
  font-size: 0;
  background-color: #ffd800;

  &__video {
    display: block;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
    object-position: 50% 50%;
    transition: opacity 300ms;
  }

  &__play {
    top: 50%;
  }


  &.is-playing {
    border-width: 0;

    .player {
      &__video {
        opacity: 1;
        cursor: pointer;
      }

      &__play {
        display: none;
      }
    }
  }
}
