.pricing {
  &__prices {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.15em;

    @include tablet {
      padding: 2.1rem 0 8.8rem;
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__block {
    padding: 1.7rem 1.3rem 4.3rem;

    @include tablet {
      padding: 2rem;
      width: 33.33%;
    }
  }

  &__price {
    width: 100%;
    max-width: 25.5rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #e5e5e5;
    position: relative;
    padding: 5.2rem 2rem 2.4rem;
  }

  &__value {
    color: #fdc805;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 500;
    position: absolute;
    background-color: #fff;
    top: -2.6rem;
    width: 12rem;
    line-height: 1;
    left: calc(50% - 6rem);
    z-index: 1;
  }

  &__time {
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  &__label {
    color: #a0a0a0;
    font-weight: 400;
    position: relative;
    z-index: 2;
    padding: 0.2rem 0;
  }
}
