.scene {
  width: 15.2rem;
  height: 15.2rem;
  margin: auto;
  position: relative;

  &__shape {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;

    &--background {
      z-index: 1;
    }

    &--foreground {
      z-index: 3;
    }
  }

  &__media {
    position: absolute;
    z-index: 2;

    &--image-above {
      z-index: 3;
    }
  }

  &__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    z-index: 2;
    max-width: none;
  }

  &__heading {
    @include flex;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
    left: 0;
    right: 0;
    color: #fff;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: 500;

    @include tablet {
      left: -100%;
      right: -100%;
      font-size: 4.8rem;
    }

    &--hero {
      h1 {
        font-size: 3.6rem;
        line-height: 1.17;

        @include tablet {
          font-size: 7.2rem;
        }
      }
    }

    &--gateway {
      @include tablet {
        font-size: 7.2rem;
      }
    }

    &--email {
      @include tablet {
        font-size: 7.2rem;
      }
    }

    &--tiles {
      color: #64c3ab;
      line-height: 1;
    }
  }
}
