.tiles {
  &__blocks {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__frame {
    position: absolute;
    top: 19.5%;
    left: 26.6%;
    right: 26.6%;
    bottom: 14.5%;
    border: solid 3rem #fee730;
    z-index: 3;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__content {
    @include flex;
    @include absolute;
  }

  &__block {
    padding-top: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;

    @include tablet {
      padding-top: 41.4%;
      width: 50%;
    }

    &:nth-child(2n + 2) {
      background-color: #f5f5f5;

      .tiles {
        &__header {
          background-color: #f5f5f5;
        }
      }

      @include tablet {
        background-color: #fff;

        .tiles {
          &__header {
            background-color: #fff;
          }
        }
      }
    }

    &:nth-child(4n + 2) {
      @include tablet {
        background-color: #f5f5f5;

        .tiles {
          &__header {
            background-color: #f5f5f5;
          }

          &__scene {
            top: -4rem;
          }
        }
      }
    }

    &:nth-child(4n + 3) {
      @include tablet {
        background-color: #f5f5f5;

        .tiles {
          &__header {
            background-color: #f5f5f5;
          }

          &__scene {
            top: 4rem;
          }
        }
      }
    }

    @include hover {
      &:before {
        transform: scale(1, 1);
      }
    }
  }

  &__scene {
    max-width: 10rem;

    @include tablet {
      max-width: none;
    }
  }

  &__trigger {
    @include absolute;
    z-index: 4;
  }
}
