@font-face {
  font-family: 'Cervo';
  font-display: fallback;
  src: local('Cervo'), url('../fonts/Cervo/Cervo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cervo';
  font-display: fallback;
  src: local('Cervo'), url('../fonts/Cervo/Cervo-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo';
  font-display: fallback;
  src: local('Cervo'), url('../fonts/Cervo/Cervo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cervo';
  font-display: fallback;
  src: local('Cervo'), url('../fonts/Cervo/Cervo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  font-display: fallback;
  src: local('Gotham'), url('../fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: fallback;
  src: local('Gotham'), url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  font-display: fallback;
  src: local('Gotham'), url('../fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: fallback;
  src: local('Gotham'), url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
