h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 500;
  font-family: 'Cervo', Arial, Helvetica, sans-serif;
  line-height: 1.33;
}

h1,
h2 {
  font-size: 3.6rem;

  @include portrait {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin: 1.5em 0;

  @include portrait {
    margin: 1.5em 0;
  }

  img {
    width: 100%;
  }
}
