@font-face {
    font-family: 'Cervo';
    src: url('Cervo-LightItalic.eot');
    src: url('Cervo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-LightItalic.woff2') format('woff2'),
        url('Cervo-LightItalic.woff') format('woff'),
        url('Cervo-LightItalic.ttf') format('truetype'),
        url('Cervo-LightItalic.svg#Cervo-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Italic.eot');
    src: url('GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Italic.woff2') format('woff2'),
        url('GothamPro-Italic.woff') format('woff'),
        url('GothamPro-Italic.ttf') format('truetype'),
        url('GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham C2 Text';
    src: url('GothamC2Text-BoldItalic.eot');
    src: url('GothamC2Text-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamC2Text-BoldItalic.woff2') format('woff2'),
        url('GothamC2Text-BoldItalic.woff') format('woff'),
        url('GothamC2Text-BoldItalic.ttf') format('truetype'),
        url('GothamC2Text-BoldItalic.svg#GothamC2Text-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Regular.eot');
    src: url('Cervo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Regular.woff2') format('woff2'),
        url('Cervo-Regular.woff') format('woff'),
        url('Cervo-Regular.ttf') format('truetype'),
        url('Cervo-Regular.svg#Cervo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype'),
        url('Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('GothamNarrow-Ultra.eot');
    src: url('GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Ultra.woff2') format('woff2'),
        url('GothamNarrow-Ultra.woff') format('woff'),
        url('GothamNarrow-Ultra.ttf') format('truetype'),
        url('GothamNarrow-Ultra.svg#GothamNarrow-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-BoldItalic.eot');
    src: url('GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-BoldItalic.woff2') format('woff2'),
        url('GothamRounded-BoldItalic.woff') format('woff'),
        url('GothamRounded-BoldItalic.ttf') format('truetype'),
        url('GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed Book';
    src: url('GothamCondensed-BookItalic.eot');
    src: url('GothamCondensed-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-BookItalic.woff2') format('woff2'),
        url('GothamCondensed-BookItalic.woff') format('woff'),
        url('GothamCondensed-BookItalic.ttf') format('truetype'),
        url('GothamCondensed-BookItalic.svg#GothamCondensed-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham C2 Text';
    src: url('GothamC2Text-Italic.eot');
    src: url('GothamC2Text-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamC2Text-Italic.woff2') format('woff2'),
        url('GothamC2Text-Italic.woff') format('woff'),
        url('GothamC2Text-Italic.ttf') format('truetype'),
        url('GothamC2Text-Italic.svg#GothamC2Text-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamThin';
    src: url('GothamThin-Italic.eot');
    src: url('GothamThin-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamThin-Italic.woff2') format('woff2'),
        url('GothamThin-Italic.woff') format('woff'),
        url('GothamThin-Italic.ttf') format('truetype'),
        url('GothamThin-Italic.svg#GothamThin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-LightItalic.eot');
    src: url('GothamXNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-LightItalic.woff2') format('woff2'),
        url('GothamXNarrow-LightItalic.woff') format('woff'),
        url('GothamXNarrow-LightItalic.ttf') format('truetype'),
        url('GothamXNarrow-LightItalic.svg#GothamXNarrow-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-Light.eot');
    src: url('GothamXNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Light.woff2') format('woff2'),
        url('GothamXNarrow-Light.woff') format('woff'),
        url('GothamXNarrow-Light.ttf') format('truetype'),
        url('GothamXNarrow-Light.svg#GothamXNarrow-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow Ultra';
    src: url('GothamXNarrow-Ultra.eot');
    src: url('GothamXNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Ultra.woff2') format('woff2'),
        url('GothamXNarrow-Ultra.woff') format('woff'),
        url('GothamXNarrow-Ultra.ttf') format('truetype'),
        url('GothamXNarrow-Ultra.svg#GothamXNarrow-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light.eot');
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Light.woff2') format('woff2'),
        url('Gotham-Light.woff') format('woff'),
        url('Gotham-Light.ttf') format('truetype'),
        url('Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('GothamRounded-BookItalic.eot');
    src: url('GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-BookItalic.woff2') format('woff2'),
        url('GothamRounded-BookItalic.woff') format('woff'),
        url('GothamRounded-BookItalic.ttf') format('truetype'),
        url('GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamUltra';
    src: url('GothamUltra.eot');
    src: url('GothamUltra.eot?#iefix') format('embedded-opentype'),
        url('GothamUltra.woff2') format('woff2'),
        url('GothamUltra.woff') format('woff'),
        url('GothamUltra.ttf') format('truetype'),
        url('GothamUltra.svg#GothamUltra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed Ultra';
    src: url('GothamCondensed-UltraItalic.eot');
    src: url('GothamCondensed-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-UltraItalic.woff2') format('woff2'),
        url('GothamCondensed-UltraItalic.woff') format('woff'),
        url('GothamCondensed-UltraItalic.ttf') format('truetype'),
        url('GothamCondensed-UltraItalic.svg#GothamCondensed-UltraItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('GothamBlack-Italic.eot');
    src: url('GothamBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamBlack-Italic.woff2') format('woff2'),
        url('GothamBlack-Italic.woff') format('woff'),
        url('GothamBlack-Italic.ttf') format('truetype'),
        url('GothamBlack-Italic.svg#GothamBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Medium.eot');
    src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-Medium.woff2') format('woff2'),
        url('GothamRounded-Medium.woff') format('woff'),
        url('GothamRounded-Medium.ttf') format('truetype'),
        url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Light.eot');
    src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Light.woff2') format('woff2'),
        url('GothamPro-Light.woff') format('woff'),
        url('GothamPro-Light.ttf') format('truetype'),
        url('GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BlackItalic.eot');
    src: url('GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-BlackItalic.woff2') format('woff2'),
        url('GothamPro-BlackItalic.woff') format('woff'),
        url('GothamPro-BlackItalic.ttf') format('truetype'),
        url('GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Thin.eot');
    src: url('Cervo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Thin.woff2') format('woff2'),
        url('Cervo-Thin.woff') format('woff'),
        url('Cervo-Thin.ttf') format('truetype'),
        url('Cervo-Thin.svg#Cervo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Black.eot');
    src: url('GothamCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Black.woff2') format('woff2'),
        url('GothamCondensed-Black.woff') format('woff'),
        url('GothamCondensed-Black.ttf') format('truetype'),
        url('GothamCondensed-Black.svg#GothamCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BoldItalic.eot');
    src: url('Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-BoldItalic.woff2') format('woff2'),
        url('Gotham-BoldItalic.woff') format('woff'),
        url('Gotham-BoldItalic.ttf') format('truetype'),
        url('Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham C2 Text';
    src: url('GothamC2Text-Bold.eot');
    src: url('GothamC2Text-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamC2Text-Bold.woff2') format('woff2'),
        url('GothamC2Text-Bold.woff') format('woff'),
        url('GothamC2Text-Bold.ttf') format('truetype'),
        url('GothamC2Text-Bold.svg#GothamC2Text-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-ThinItalic.eot');
    src: url('GothamNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-ThinItalic.woff2') format('woff2'),
        url('GothamNarrow-ThinItalic.woff') format('woff'),
        url('GothamNarrow-ThinItalic.ttf') format('truetype'),
        url('GothamNarrow-ThinItalic.svg#GothamNarrow-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-Thin.eot');
    src: url('GothamXNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Thin.woff2') format('woff2'),
        url('GothamXNarrow-Thin.woff') format('woff'),
        url('GothamXNarrow-Thin.ttf') format('truetype'),
        url('GothamXNarrow-Thin.svg#GothamXNarrow-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-ThinItalic.eot');
    src: url('Cervo-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-ThinItalic.woff2') format('woff2'),
        url('Cervo-ThinItalic.woff') format('woff'),
        url('Cervo-ThinItalic.ttf') format('truetype'),
        url('Cervo-ThinItalic.svg#Cervo-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype'),
        url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed XLight';
    src: url('GothamCondensed-XLight.eot');
    src: url('GothamCondensed-XLight.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-XLight.woff2') format('woff2'),
        url('GothamCondensed-XLight.woff') format('woff'),
        url('GothamCondensed-XLight.ttf') format('truetype'),
        url('GothamCondensed-XLight.svg#GothamCondensed-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-BoldItalic.eot');
    src: url('GothamCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-BoldItalic.woff2') format('woff2'),
        url('GothamCondensed-BoldItalic.woff') format('woff'),
        url('GothamCondensed-BoldItalic.ttf') format('truetype'),
        url('GothamCondensed-BoldItalic.svg#GothamCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Medium.eot');
    src: url('GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Medium.woff2') format('woff2'),
        url('GothamNarrow-Medium.woff') format('woff'),
        url('GothamNarrow-Medium.ttf') format('truetype'),
        url('GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow Book';
    src: url('GothamXNarrow-Book.eot');
    src: url('GothamXNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Book.woff2') format('woff2'),
        url('GothamXNarrow-Book.woff') format('woff'),
        url('GothamXNarrow-Book.ttf') format('truetype'),
        url('GothamXNarrow-Book.svg#GothamXNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham C1 Head';
    src: url('GothamC1Head-Bold.eot');
    src: url('GothamC1Head-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamC1Head-Bold.woff2') format('woff2'),
        url('GothamC1Head-Bold.woff') format('woff'),
        url('GothamC1Head-Bold.ttf') format('truetype'),
        url('GothamC1Head-Bold.svg#GothamC1Head-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Bold.eot');
    src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-Bold.woff2') format('woff2'),
        url('GothamRounded-Bold.woff') format('woff'),
        url('GothamRounded-Bold.ttf') format('truetype'),
        url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('GothamBold-Italic.eot');
    src: url('GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamBold-Italic.woff2') format('woff2'),
        url('GothamBold-Italic.woff') format('woff'),
        url('GothamBold-Italic.ttf') format('truetype'),
        url('GothamBold-Italic.svg#GothamBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-Black.eot');
    src: url('GothamXNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Black.woff2') format('woff2'),
        url('GothamXNarrow-Black.woff') format('woff'),
        url('GothamXNarrow-Black.ttf') format('truetype'),
        url('GothamXNarrow-Black.svg#GothamXNarrow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Medium.eot');
    src: url('GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamProNarrow-Medium.woff2') format('woff2'),
        url('GothamProNarrow-Medium.woff') format('woff'),
        url('GothamProNarrow-Medium.ttf') format('truetype'),
        url('GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-MediumItalic.eot');
    src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-MediumItalic.woff2') format('woff2'),
        url('GothamRounded-MediumItalic.woff') format('woff'),
        url('GothamRounded-MediumItalic.ttf') format('truetype'),
        url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-MediumItalic.eot');
    src: url('GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-MediumItalic.woff2') format('woff2'),
        url('GothamPro-MediumItalic.woff') format('woff'),
        url('GothamPro-MediumItalic.ttf') format('truetype'),
        url('GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-LightItalic.eot');
    src: url('GothamNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-LightItalic.woff2') format('woff2'),
        url('GothamNarrow-LightItalic.woff') format('woff'),
        url('GothamNarrow-LightItalic.ttf') format('truetype'),
        url('GothamNarrow-LightItalic.svg#GothamNarrow-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Thin.eot');
    src: url('GothamCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Thin.woff2') format('woff2'),
        url('GothamCondensed-Thin.woff') format('woff'),
        url('GothamCondensed-Thin.ttf') format('truetype'),
        url('GothamCondensed-Thin.svg#GothamCondensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow Book';
    src: url('GothamXNarrow-BookItalic.eot');
    src: url('GothamXNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-BookItalic.woff2') format('woff2'),
        url('GothamXNarrow-BookItalic.woff') format('woff'),
        url('GothamXNarrow-BookItalic.ttf') format('truetype'),
        url('GothamXNarrow-BookItalic.svg#GothamXNarrow-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-ThinItalic.eot');
    src: url('GothamXNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-ThinItalic.woff2') format('woff2'),
        url('GothamXNarrow-ThinItalic.woff') format('woff'),
        url('GothamXNarrow-ThinItalic.ttf') format('truetype'),
        url('GothamXNarrow-ThinItalic.svg#GothamXNarrow-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.eot');
    src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Bold.woff2') format('woff2'),
        url('GothamPro-Bold.woff') format('woff'),
        url('GothamPro-Bold.ttf') format('truetype'),
        url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Medium.eot');
    src: url('GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Medium.woff2') format('woff2'),
        url('GothamPro-Medium.woff') format('woff'),
        url('GothamPro-Medium.ttf') format('truetype'),
        url('GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-Medium.eot');
    src: url('GothamXNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Medium.woff2') format('woff2'),
        url('GothamXNarrow-Medium.woff') format('woff'),
        url('GothamXNarrow-Medium.ttf') format('truetype'),
        url('GothamXNarrow-Medium.svg#GothamXNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-MediumItalic.eot');
    src: url('GothamXNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-MediumItalic.woff2') format('woff2'),
        url('GothamXNarrow-MediumItalic.woff') format('woff'),
        url('GothamXNarrow-MediumItalic.ttf') format('truetype'),
        url('GothamXNarrow-MediumItalic.svg#GothamXNarrow-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-MediumItalic.eot');
    src: url('Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-MediumItalic.woff2') format('woff2'),
        url('Gotham-MediumItalic.woff') format('woff'),
        url('Gotham-MediumItalic.ttf') format('truetype'),
        url('Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('GothamBlack.eot');
    src: url('GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('GothamBlack.woff2') format('woff2'),
        url('GothamBlack.woff') format('woff'),
        url('GothamBlack.ttf') format('truetype'),
        url('GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BoldItalic.eot');
    src: url('GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-BoldItalic.woff2') format('woff2'),
        url('GothamPro-BoldItalic.woff') format('woff'),
        url('GothamPro-BoldItalic.ttf') format('truetype'),
        url('GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-MediumItalic.eot');
    src: url('Cervo-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-MediumItalic.woff2') format('woff2'),
        url('Cervo-MediumItalic.woff') format('woff'),
        url('Cervo-MediumItalic.ttf') format('truetype'),
        url('Cervo-MediumItalic.svg#Cervo-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Black.eot');
    src: url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Black.woff2') format('woff2'),
        url('GothamPro-Black.woff') format('woff'),
        url('GothamPro-Black.ttf') format('truetype'),
        url('GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed XBlack';
    src: url('GothamCondensed-XBlackItalic.eot');
    src: url('GothamCondensed-XBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-XBlackItalic.woff2') format('woff2'),
        url('GothamCondensed-XBlackItalic.woff') format('woff'),
        url('GothamCondensed-XBlackItalic.ttf') format('truetype'),
        url('GothamCondensed-XBlackItalic.svg#GothamCondensed-XBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Medium.eot');
    src: url('Cervo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Medium.woff2') format('woff2'),
        url('Cervo-Medium.woff') format('woff'),
        url('Cervo-Medium.ttf') format('truetype'),
        url('Cervo-Medium.svg#Cervo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Light.eot');
    src: url('GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-Light.woff2') format('woff2'),
        url('GothamRounded-Light.woff') format('woff'),
        url('GothamRounded-Light.ttf') format('truetype'),
        url('GothamRounded-Light.svg#GothamRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-BoldItalic.eot');
    src: url('GothamNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-BoldItalic.woff2') format('woff2'),
        url('GothamNarrow-BoldItalic.woff') format('woff'),
        url('GothamNarrow-BoldItalic.ttf') format('truetype'),
        url('GothamNarrow-BoldItalic.svg#GothamNarrow-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('GothamRounded-Book.eot');
    src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-Book.woff2') format('woff2'),
        url('GothamRounded-Book.woff') format('woff'),
        url('GothamRounded-Book.ttf') format('truetype'),
        url('GothamRounded-Book.svg#GothamRounded-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-BookItalic.eot');
    src: url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-BookItalic.woff2') format('woff2'),
        url('Gotham-BookItalic.woff') format('woff'),
        url('Gotham-BookItalic.ttf') format('truetype'),
        url('Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow XLight';
    src: url('GothamNarrow-XLightItalic.eot');
    src: url('GothamNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-XLightItalic.woff2') format('woff2'),
        url('GothamNarrow-XLightItalic.woff') format('woff'),
        url('GothamNarrow-XLightItalic.ttf') format('truetype'),
        url('GothamNarrow-XLightItalic.svg#GothamNarrow-XLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-Bold.eot');
    src: url('GothamXNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-Bold.woff2') format('woff2'),
        url('GothamXNarrow-Bold.woff') format('woff'),
        url('GothamXNarrow-Bold.ttf') format('truetype'),
        url('GothamXNarrow-Bold.svg#GothamXNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham C1 Head';
    src: url('GothamC1Head-BoldItalic.eot');
    src: url('GothamC1Head-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamC1Head-BoldItalic.woff2') format('woff2'),
        url('GothamC1Head-BoldItalic.woff') format('woff'),
        url('GothamC1Head-BoldItalic.ttf') format('truetype'),
        url('GothamC1Head-BoldItalic.svg#GothamC1Head-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Thin.eot');
    src: url('GothamNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Thin.woff2') format('woff2'),
        url('GothamNarrow-Thin.woff') format('woff'),
        url('GothamNarrow-Thin.ttf') format('truetype'),
        url('GothamNarrow-Thin.svg#GothamNarrow-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Bold.eot');
    src: url('GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamProNarrow-Bold.woff2') format('woff2'),
        url('GothamProNarrow-Bold.woff') format('woff'),
        url('GothamProNarrow-Bold.ttf') format('truetype'),
        url('GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed XLight';
    src: url('GothamCondensed-XLightItalic.eot');
    src: url('GothamCondensed-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-XLightItalic.woff2') format('woff2'),
        url('GothamCondensed-XLightItalic.woff') format('woff'),
        url('GothamCondensed-XLightItalic.ttf') format('truetype'),
        url('GothamCondensed-XLightItalic.svg#GothamCondensed-XLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Light.eot');
    src: url('GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Light.woff2') format('woff2'),
        url('GothamCondensed-Light.woff') format('woff'),
        url('GothamCondensed-Light.ttf') format('truetype'),
        url('GothamCondensed-Light.svg#GothamCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham C1 Head';
    src: url('GothamC1Head-Italic.eot');
    src: url('GothamC1Head-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamC1Head-Italic.woff2') format('woff2'),
        url('GothamC1Head-Italic.woff') format('woff'),
        url('GothamC1Head-Italic.ttf') format('truetype'),
        url('GothamC1Head-Italic.svg#GothamC1Head-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-MediumItalic.eot');
    src: url('GothamNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-MediumItalic.woff2') format('woff2'),
        url('GothamNarrow-MediumItalic.woff') format('woff'),
        url('GothamNarrow-MediumItalic.ttf') format('truetype'),
        url('GothamNarrow-MediumItalic.svg#GothamNarrow-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-LightItalic.eot');
    src: url('GothamCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-LightItalic.woff2') format('woff2'),
        url('GothamCondensed-LightItalic.woff') format('woff'),
        url('GothamCondensed-LightItalic.ttf') format('truetype'),
        url('GothamCondensed-LightItalic.svg#GothamCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('GothamMedium-Italic.eot');
    src: url('GothamMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamMedium-Italic.woff2') format('woff2'),
        url('GothamMedium-Italic.woff') format('woff'),
        url('GothamMedium-Italic.ttf') format('truetype'),
        url('GothamMedium-Italic.svg#GothamMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Light.eot');
    src: url('GothamNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Light.woff2') format('woff2'),
        url('GothamNarrow-Light.woff') format('woff'),
        url('GothamNarrow-Light.ttf') format('truetype'),
        url('GothamNarrow-Light.svg#GothamNarrow-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed Ultra';
    src: url('GothamCondensed-Ultra.eot');
    src: url('GothamCondensed-Ultra.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Ultra.woff2') format('woff2'),
        url('GothamCondensed-Ultra.woff') format('woff'),
        url('GothamCondensed-Ultra.ttf') format('truetype'),
        url('GothamCondensed-Ultra.svg#GothamCondensed-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-ThinItalic.eot');
    src: url('GothamCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-ThinItalic.woff2') format('woff2'),
        url('GothamCondensed-ThinItalic.woff') format('woff'),
        url('GothamCondensed-ThinItalic.ttf') format('truetype'),
        url('GothamCondensed-ThinItalic.svg#GothamCondensed-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Medium.eot');
    src: url('GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Medium.woff2') format('woff2'),
        url('GothamCondensed-Medium.woff') format('woff'),
        url('GothamCondensed-Medium.ttf') format('truetype'),
        url('GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Light.eot');
    src: url('Cervo-Light.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Light.woff2') format('woff2'),
        url('Cervo-Light.woff') format('woff'),
        url('Cervo-Light.ttf') format('truetype'),
        url('Cervo-Light.svg#Cervo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('GothamNarrow-BookItalic.eot');
    src: url('GothamNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-BookItalic.woff2') format('woff2'),
        url('GothamNarrow-BookItalic.woff') format('woff'),
        url('GothamNarrow-BookItalic.ttf') format('truetype'),
        url('GothamNarrow-BookItalic.svg#GothamNarrow-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cervo Regular';
    src: url('Cervo-RegularItalic.eot');
    src: url('Cervo-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-RegularItalic.woff2') format('woff2'),
        url('Cervo-RegularItalic.woff') format('woff'),
        url('Cervo-RegularItalic.ttf') format('truetype'),
        url('Cervo-RegularItalic.svg#Cervo-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed Book';
    src: url('GothamCondensed-Book.eot');
    src: url('GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Book.woff2') format('woff2'),
        url('GothamCondensed-Book.woff') format('woff'),
        url('GothamCondensed-Book.ttf') format('truetype'),
        url('GothamCondensed-Book.svg#GothamCondensed-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-BlackItalic.eot');
    src: url('GothamCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-BlackItalic.woff2') format('woff2'),
        url('GothamCondensed-BlackItalic.woff') format('woff'),
        url('GothamCondensed-BlackItalic.ttf') format('truetype'),
        url('GothamCondensed-BlackItalic.svg#GothamCondensed-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-BoldItalic.eot');
    src: url('GothamXNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-BoldItalic.woff2') format('woff2'),
        url('GothamXNarrow-BoldItalic.woff') format('woff'),
        url('GothamXNarrow-BoldItalic.ttf') format('truetype'),
        url('GothamXNarrow-BoldItalic.svg#GothamXNarrow-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow XLight';
    src: url('GothamXNarrow-XLightItalic.eot');
    src: url('GothamXNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-XLightItalic.woff2') format('woff2'),
        url('GothamXNarrow-XLightItalic.woff') format('woff'),
        url('GothamXNarrow-XLightItalic.ttf') format('truetype'),
        url('GothamXNarrow-XLightItalic.svg#GothamXNarrow-XLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GothamLight';
    src: url('GothamLight.eot');
    src: url('GothamLight.eot?#iefix') format('embedded-opentype'),
        url('GothamLight.woff2') format('woff2'),
        url('GothamLight.woff') format('woff'),
        url('GothamLight.ttf') format('truetype'),
        url('GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow XLight';
    src: url('GothamXNarrow-XLight.eot');
    src: url('GothamXNarrow-XLight.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-XLight.woff2') format('woff2'),
        url('GothamXNarrow-XLight.woff') format('woff'),
        url('GothamXNarrow-XLight.ttf') format('truetype'),
        url('GothamXNarrow-XLight.svg#GothamXNarrow-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed XBlack';
    src: url('GothamCondensed-XBlack.eot');
    src: url('GothamCondensed-XBlack.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-XBlack.woff2') format('woff2'),
        url('GothamCondensed-XBlack.woff') format('woff'),
        url('GothamCondensed-XBlack.ttf') format('truetype'),
        url('GothamCondensed-XBlack.svg#GothamCondensed-XBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-LightItalic.eot');
    src: url('GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-LightItalic.woff2') format('woff2'),
        url('GothamPro-LightItalic.woff') format('woff'),
        url('GothamPro-LightItalic.ttf') format('truetype'),
        url('GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow XLight';
    src: url('GothamNarrow-XLight.eot');
    src: url('GothamNarrow-XLight.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-XLight.woff2') format('woff2'),
        url('GothamNarrow-XLight.woff') format('woff'),
        url('GothamNarrow-XLight.ttf') format('truetype'),
        url('GothamNarrow-XLight.svg#GothamNarrow-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-BlackItalic.eot');
    src: url('GothamNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-BlackItalic.woff2') format('woff2'),
        url('GothamNarrow-BlackItalic.woff') format('woff'),
        url('GothamNarrow-BlackItalic.ttf') format('truetype'),
        url('GothamNarrow-BlackItalic.svg#GothamNarrow-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBook';
    src: url('GothamBook.eot');
    src: url('GothamBook.eot?#iefix') format('embedded-opentype'),
        url('GothamBook.woff2') format('woff2'),
        url('GothamBook.woff') format('woff'),
        url('GothamBook.ttf') format('truetype'),
        url('GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Black.eot');
    src: url('GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Black.woff2') format('woff2'),
        url('GothamNarrow-Black.woff') format('woff'),
        url('GothamNarrow-Black.ttf') format('truetype'),
        url('GothamNarrow-Black.svg#GothamNarrow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-LightItalic.eot');
    src: url('GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-LightItalic.woff2') format('woff2'),
        url('GothamRounded-LightItalic.woff') format('woff'),
        url('GothamRounded-LightItalic.ttf') format('truetype'),
        url('GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GothamThin';
    src: url('GothamThin.eot');
    src: url('GothamThin.eot?#iefix') format('embedded-opentype'),
        url('GothamThin.woff2') format('woff2'),
        url('GothamThin.woff') format('woff'),
        url('GothamThin.ttf') format('truetype'),
        url('GothamThin.svg#GothamThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Bold.eot');
    src: url('GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Bold.woff2') format('woff2'),
        url('GothamNarrow-Bold.woff') format('woff'),
        url('GothamNarrow-Bold.ttf') format('truetype'),
        url('GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamUltra';
    src: url('GothamUltra-Italic.eot');
    src: url('GothamUltra-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamUltra-Italic.woff2') format('woff2'),
        url('GothamUltra-Italic.woff') format('woff'),
        url('GothamUltra-Italic.ttf') format('truetype'),
        url('GothamUltra-Italic.svg#GothamUltra-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamExLight';
    src: url('GothamExLight.eot');
    src: url('GothamExLight.eot?#iefix') format('embedded-opentype'),
        url('GothamExLight.woff2') format('woff2'),
        url('GothamExLight.woff') format('woff'),
        url('GothamExLight.ttf') format('truetype'),
        url('GothamExLight.svg#GothamExLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('GothamMedium.eot');
    src: url('GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('GothamMedium.woff2') format('woff2'),
        url('GothamMedium.woff') format('woff'),
        url('GothamMedium.ttf') format('truetype'),
        url('GothamMedium.svg#GothamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('GothamLight-Italic.eot');
    src: url('GothamLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamLight-Italic.woff2') format('woff2'),
        url('GothamLight-Italic.woff') format('woff'),
        url('GothamLight-Italic.ttf') format('truetype'),
        url('GothamLight-Italic.svg#GothamLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('GothamNarrow-Book.eot');
    src: url('GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Book.woff2') format('woff2'),
        url('GothamNarrow-Book.woff') format('woff'),
        url('GothamNarrow-Book.ttf') format('truetype'),
        url('GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham C2 Text';
    src: url('GothamC2Text.eot');
    src: url('GothamC2Text.eot?#iefix') format('embedded-opentype'),
        url('GothamC2Text.woff2') format('woff2'),
        url('GothamC2Text.woff') format('woff'),
        url('GothamC2Text.ttf') format('truetype'),
        url('GothamC2Text.svg#GothamC2Text') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamExLight';
    src: url('GothamExLight-Italic.eot');
    src: url('GothamExLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamExLight-Italic.woff2') format('woff2'),
        url('GothamExLight-Italic.woff') format('woff'),
        url('GothamExLight-Italic.ttf') format('truetype'),
        url('GothamExLight-Italic.svg#GothamExLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-LightItalic.eot');
    src: url('Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-LightItalic.woff2') format('woff2'),
        url('Gotham-LightItalic.woff') format('woff'),
        url('Gotham-LightItalic.ttf') format('truetype'),
        url('Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('GothamXNarrow-BlackItalic.eot');
    src: url('GothamXNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-BlackItalic.woff2') format('woff2'),
        url('GothamXNarrow-BlackItalic.woff') format('woff'),
        url('GothamXNarrow-BlackItalic.ttf') format('truetype'),
        url('GothamXNarrow-BlackItalic.svg#GothamXNarrow-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBold';
    src: url('GothamBold.eot');
    src: url('GothamBold.eot?#iefix') format('embedded-opentype'),
        url('GothamBold.woff2') format('woff2'),
        url('GothamBold.woff') format('woff'),
        url('GothamBold.ttf') format('truetype'),
        url('GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Bold.eot');
    src: url('GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Bold.woff2') format('woff2'),
        url('GothamCondensed-Bold.woff') format('woff'),
        url('GothamCondensed-Bold.ttf') format('truetype'),
        url('GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow Ultra';
    src: url('GothamXNarrow-UltraItalic.eot');
    src: url('GothamXNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamXNarrow-UltraItalic.woff2') format('woff2'),
        url('GothamXNarrow-UltraItalic.woff') format('woff'),
        url('GothamXNarrow-UltraItalic.ttf') format('truetype'),
        url('GothamXNarrow-UltraItalic.svg#GothamXNarrow-UltraItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham C1 Head';
    src: url('GothamC1Head.eot');
    src: url('GothamC1Head.eot?#iefix') format('embedded-opentype'),
        url('GothamC1Head.woff2') format('woff2'),
        url('GothamC1Head.woff') format('woff'),
        url('GothamC1Head.ttf') format('truetype'),
        url('GothamC1Head.svg#GothamC1Head') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.eot');
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
        url('GothamPro.woff2') format('woff2'),
        url('GothamPro.woff') format('woff'),
        url('GothamPro.ttf') format('truetype'),
        url('GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('GothamNarrow-UltraItalic.eot');
    src: url('GothamNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-UltraItalic.woff2') format('woff2'),
        url('GothamNarrow-UltraItalic.woff') format('woff'),
        url('GothamNarrow-UltraItalic.ttf') format('truetype'),
        url('GothamNarrow-UltraItalic.svg#GothamNarrow-UltraItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-MediumItalic.eot');
    src: url('GothamCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-MediumItalic.woff2') format('woff2'),
        url('GothamCondensed-MediumItalic.woff') format('woff'),
        url('GothamCondensed-MediumItalic.ttf') format('truetype'),
        url('GothamCondensed-MediumItalic.svg#GothamCondensed-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBook';
    src: url('GothamBook-Italic.eot');
    src: url('GothamBook-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamBook-Italic.woff2') format('woff2'),
        url('GothamBook-Italic.woff') format('woff'),
        url('GothamBook-Italic.ttf') format('truetype'),
        url('GothamBook-Italic.svg#GothamBook-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

