<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="#f9f6ee" name="theme-color">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="Skypark" name="author">
    <meta content="Skypark" name="generator">
    <meta content="noindex, nofollow" name="robots">
    {# <meta name="robots" content="index, follow"> #}
    {# <meta name="title" content="{{ meta_title }}"> #}
    {# <meta name="description" content="{{ meta_description }}"> #}
    {# <meta property="og:title" content="{{ meta_title }}" /> #}
    {# <meta property="og:description" content="{{ meta_description }}" /> #}
    {# <meta property="og:url" content="{{ url_current() }}" /> #}
    {# <meta property="og:image" content="{{ meta_image }}" /> #}
    <title>App Title</title>
  </head>
  <body class="app"> {% include './nav.twig' %}
  
    {{block('page')}}

    {% include '../modals/video.twig' %}
    {% include '../modals/map.twig' %}
    {% include '../modals/rules.twig' %}
    {# {% include './cookiebar.twig' %} #}

  </body>
</html>
