<div class="app__cookiebar cookiebar">
  <div class="cookiebar__container container">
    <div class="cookiebar__text">
      <p>This website uses cookies. By clicking "Accept“, you agree to our Privacy Policy.</p>
    </div>
    <div class="cookiebar__actions">
      <div class="cookiebar__action">Accept</div>
    </div>
  </div>
</div>
