<header class="{{context}}__header {{context}}__header--{{modifier}} header header--{{modifier}}">
  <div class="header__content header__content--{{modifier}} header__content--{{context}}">
    <a class="header__logo header__logo--{{modifier}}" href="index">
      {% include '../../svg/logo.svg.twig' %}
    </a>
    <div class="header__links">
      <a class="header__link header__link--hours underlink" href="">WORKING HOURS</a>
      <a class="header__link header__link--book underlink" href="">BOOK A ROOM</a>
    </div>
  </div>
  <div class="{{context}}__navicon {{context}}__navicon--{{modifier}} navicon navicon--{{modifier}}" data-navicon="open">
    <div class="navicon__label">MENU</div>
    <div class="navicon__icon">
      <i class="navicon__bar navicon__bar--1"></i>
      <i class="navicon__bar navicon__bar--2"></i>
      <i class="navicon__bar navicon__bar--3"></i>
    </div>
  </div>
</header>
