<div class="{{context}}__intro {{context}}__intro--{{modifier}} intro" data-parallax>

  {% include './header.twig' with { modifier: 'white', context: 'intro' } %}

  <i class="intro__background" data-parallax-layer="-.2"></i>

  <div class="intro__container">

    {% set options = options|merge({"context":['intro']}) %}

    {% include './scene.twig' with {options: options} %}

  </div>

</div>
