<div class="app__modal app__modal--{{mod}} modal" data-modal="{{slug}}">
  <div class="modal__wrapper modal__wrapper--{{mod}}">
    <div class="modal__dialog modal__dialog--{{mod}}">
      <div class="modal__header modal__header--{{mod}}">
        <div class="modal__close modal__close--{{mod}} close underlink" data-modal-close>CLOSE</div>
      </div>
      <div class="modal__content modal__content--{{mod}}">
        {{block('modal')}}
      </div>
    </div>
  </div>
  <i class="modal__backdrop" data-modal-close></i>
</div>
