{% extends "./_base.twig" %}
{% set mod = 'full' %}
{% set slug = 'map' %}

{% block modal %}
  <div class="modal__map map">
    <div class="map__embed" data-map data-map-icon="http://0.0.0.0:9000/dist/assets/img/marker.svg" data-map-lat="56.2031" data-map-lng="24.76" data-map-zoom="15.5"></div>
    <div class="map__address">Verkių g. 29, Ogmios miestas, Šeimos aikštelė 3 Vilnius</div>
  </div>
{% endblock %}
