{% extends "./_base.twig" %}
{% set mod = 'full' %}
{% set slug = 'video' %}

{% block modal %}
  <div class="modal__player player" data-player>
    <video class="player__video" data-player-file poster="./media/poster.png" src="./media/skypark.mp4"></video>
    <div class="player__play play" data-player-play>
      <i class="play__icon">
        {% include '../../svg/play.svg.twig' %}
      </i>
      <span class="play__label" data-heading="watch">PLAY VIDEO</span>
    </div>
  </div>
{% endblock %}
