.close {
  color: #fdc805;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: color 200ms var(--e);
  font-family: 'Cervo', Arial, Helvetica, sans-serif;

  &:before,
  &:after {
    bottom: 0.4rem;
  }
}
