.media {
  position: relative;
  @include flex;
  overflow: hidden;
  font-size: 0;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    max-width: none;
    object-position: 50% 50%;

    &--cover {
      object-fit: cover;
    }

    &--gallery {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &--display,
    &--hero {
      @include tablet {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  &__background {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &--contain {
      background-size: contain;
    }
  }
}
