.play {
  position: absolute;
  left: 50%;
  display: block;
  cursor: pointer;
  color: #fff;
  transition: opacity 300ms var(--e);

  &__icon {
    width: 5.6rem;
    height: 5.6rem;
    top: -2.8rem;
    left: -2.8rem;
    display: block;
    position: absolute;
    padding: 1rem;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      polygon,
      circle {
        fill: transparent;
        stroke: currentColor;
        transition: stroke-dashoffset 500ms var(--e);
      }
    }
  }

  &__label {
    text-transform: uppercase;
    position: absolute;
    top: 3.8rem;
    left: -10rem;
    right: -10rem;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 500;
    text-align: center;
    color: currentColor;
    transition: transform 300ms var(--e);
    display: none;

    @include tablet {
      display: block;
    }
  }
  @include hover {
      opacity: .7;
    .play {
      &__label {
        transform: translate3d(0, .3rem, 0);
      }
    }
    polygon {
      stroke-dashoffset: 6;
    }
    circle {
      stroke-dashoffset: -30;
    }
  }
}
