/* stylelint-disable */

.app {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 500ms var(--e);
    display: none;
    background-color: #fff;

    &.before-enter {
      display: block;
    }

    &.is-entering {
      display: block;
      opacity: 1;
    }

    &.has-entered {
      display: block;
      opacity: 1;
    }
  }

  &__page {
    position: relative;
    z-index: 2;

    &--default {
      overflow: hidden;
      margin-top: 42.6rem;

      @include tablet {
        margin-top: 40.2rem;
      }
    }

    &--home {
      overflow: hidden;
      margin-top: 100vh;
    }
  }

  &.nav-open {
    overflow: hidden;

    .navicon {
      z-index: 5;
    }
  }
}

// .has-value {
//   color: green;
// }
.has-error {
  color: red;
}
.is-focused {
  color: violet;
}
