<svg height="18" viewbox="0 0 25 18" width="25" xmlns="http://www.w3.org/2000/svg">
  <path d="M25 6.786v4.428c0 2.807-.433 4.43-1.447 5.422-.99.969-2.519 1.364-5.278 1.364H6.725C1.04 18 0 15.715 0 11.214V6.786c0-2.323 0-4.002.876-5.141C1.776.476 3.47 0 6.725 0h11.55c3.182 0 4.848.447 5.75 1.545.907 1.102.975 2.79.975 5.24zm-8.517 2.093a.827.827 0 0 0-.435-.731L10.803 5.36a.79.79 0 0 0-.79.027.83.83 0 0 0-.388.706v5.59c0 .29.147.557.389.706a.793.793 0 0 0 .791.026L16.05 9.61a.827.827 0 0 0 .433-.732z" fill="#212121"/>
</svg>
