<svg height="18" viewbox="0 0 8 18" width="8" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.73 3.486v2.478H0v3.03h1.73V18H5.28V8.995h2.384s.223-1.453.331-3.042H5.295V3.88c0-.31.387-.726.77-.726H8V0H5.369c-3.728 0-3.64 3.033-3.64 3.486z" fill="#212121"/>
</svg>
