<svg viewbox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
  <circle cx="17" cy="17" fill="transparent" stroke-dashoffset="12" stroke-dasharray="96 11" stroke="#fff" stroke-width="1.5" stroke-linecap="round" r="17"/>
  <polygon  fill="transparent" stroke="#fff" stroke-dashoffset="0" stroke-dasharray="32 6" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" points="26 17 13 9 13 26 26 17"/>
</svg>