<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 12"><title>scrolldown__icon</title><path d="M1.87,1.9633s6.142-4.4174,9.9464,0,2.0171,4.4163-.663,8.8327S-4.8439,6.38,1.87,1.9633Z" fill="#fff"/></svg>